$ui-green: #468028;

$ui-light-gray: #DADADA;

$ui-dark-gray: #5B5852;

$ui-white: #fff;

$ui-black: #000000;

$error-red: #d0343a;

$sepia-bg: #faf4e8;

$nyu-light-purple: #8900e1;

$nyu-purple: #57068c;

$nyu-medium-purple: #330662; // Used as hover on NYU

$nyu-dark-purple: #220337;


