//////////////////////////////
// Settings View Styles     //
//////////////////////////////
.settings-view {
  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > .settings-menu {
    background-color: $ui-white;
    border: 0.0625rem solid $ui-light-gray;
    border-radius: 0.375rem;
    box-shadow: 0 0 4px 1px transparentize($ui-light-gray, 0.5);
    right: 0;
    margin: 0 0.25rem;
    padding: 0;
    position: absolute;
    min-width: 240px;
    width: auto;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;

    button {
      background-color: $ui-white;
      border-bottom: 1px solid $ui-light-gray;
      font-size: 0.75rem;
      letter-spacing: 0.07rem;
      padding: 0.65rem 1.5rem;
      text-transform: uppercase;
      margin: 0;
      position: relative;

      svg.checkedIcon {
        // styles the icon that appears next to paginate/scrolling buttons
        // set a default color of $ui-white, since this should always
        // show up on a dark color background.
        color: $ui-white;
        display: none;
        fill: $ui-white;
        height: 0.9rem;
        width: 0.9rem;
      }

      // reverse the active state
      &.active {
        border-bottom: 3px solid $nyu-purple;
      }
    }

    > li {
      border: 0;
      background-color: $ui-white;
      color: $ui-dark-gray;
      display: block;
      padding: 0;
      text-align: center;
    }

    .settings-options {
      padding-left: 0;
      display: flex;

      li {
        border: 0;
        display: flex;
        margin: 0;
        width: auto;
        flex: 1 1 auto;

        button {
          width: 100%;
          text-overflow: ellipsis;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      button.publisher-font {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-left: 0;
        border-right: 0;
      }

      button.serif-font {
        border-radius: 0;
      }

      button.sans-font {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        border-right: 0;
      }

      button.decrease {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-left: 0;
        font-size: 0.9rem;
      }

      button.increase {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        border-right: 0;
        font-size: 1.1rem;
        padding: 0.6rem 1.5rem;
      }

      button span.color-preview {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        border: 1px solid $ui-light-gray;
        border-radius: 1rem;
        background: $ui-white;
        margin-right: 0.4rem;
      }

      button.sepia-theme .color-preview {
        background-color: $sepia-bg;
      }

      button.night-theme .color-preview {
        background-color: $ui-black;
      }

      button.columns-paginated-view {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-left: 0;
      }

      button.scrolling-book-view {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        border-right: 0;
      }

      .icon {
        color: $ui-dark-gray;
        fill: $ui-dark-gray;
        height: 1.75rem;
        width: 1.75rem;

        @media (min-width: 30rem) {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    } // / settings-options
  }
}

[data-viewer-theme="night"] {
  .settings-view {
    > .settings-menu {
      background-color: $ui-black;
      box-shadow: 0 0 4px 1px transparentize($ui-light-gray, 0.5);

      button {
        background-color: lighten($ui-black, 10%);
        border-bottom: 1px solid $ui-dark-gray;

        // reverse the active state
        &.active {
          color: $ui-white;
          border-bottom: 3px solid $nyu-purple;
        }
      }

      > li {
        background-color: lighten($ui-black, 10%);
        color: $ui-white;
      }

      .settings-options {
        .icon {
          color: $ui-white;
          fill: $ui-white;
        }
      } // / settings-options
    }
  }
}